* {
  margin: 0;
}

body {
  background-color:rgb(218, 250, 208)
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__left {
  flex: 0.9;
}
.app__graph{
  margin: 10px;
}
.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app__stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
